Source: icedove
Section: web
Priority: optional
Maintainer: Alexander Sack <asac@debian.org>
Uploaders: Guido Günther <agx@sigxcpu.org>, Christoph Goehre <chris@sigxcpu.org>
Build-Depends: bzip2,
	debhelper (>= 5),
	autoconf2.13,
	autotools-dev,
	libgtk2.0-dev (>= 2.12),
	zip,
	libjpeg62-dev (>= 6b),
	libpng12-dev (>= 1.2.0),
	zlib1g-dev,
	libxft-dev,
	libfontconfig1-dev,
	libidl-dev (>= 0.8.0),
	libxp-dev,
	libxt-dev,
	libxau-dev,
	libcairo2-dev (>= 1.5.8),
	libgnomevfs2-dev (>= 1:2.16),
	libgnomeui-dev (>= 2.16),
	librsvg2-bin,
	libhunspell-dev (>= 1.2),
	libnspr4-dev (>= 4.7.1),
	libnss3-dev (>= 3.12.0),
	libstartup-notification0-dev,
	libkrb5-dev,
	libdbus-glib-1-dev (>= 0.60),
	libsqlite3-dev,
	libasound2-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
	libiw-dev [!kfreebsd-i386 !kfreebsd-amd64 !hurd-i386],
	python-ply,
	quilt,
	patchutils (>= 0.2.25),
	cdbs (>= 0.4.27),
	sharutils
Vcs-Git: git://git.debian.org/pkg-mozilla/icedove.git
Vcs-Browser: http://git.debian.org/?p=pkg-mozilla/icedove.git;a=summary
DM-Upload-Allowed: yes
Standards-Version: 3.8.3

Package: icedove-3.0
Architecture: all
Depends: icedove (>= ${binary:Version}), ${misc:Depends}
Section: mail
Description: mail/news client with RSS (transitional package)
 Icedove 3.0 is a mail/news/RSS client.

Package: icedove
Architecture: any
Depends: fontconfig, psmisc, debianutils (>= 1.16), ${shlibs:Depends}, ${misc:Depends}
Recommends: myspell-en-us | hunspell-dictionary | myspell-dictionary, ${mail:Recommends}
Suggests: ttf-lyx
Provides: mail-reader
Replaces: icedove-gnome-support (<< 3.0-1~)
Conflicts: icedove-gnome-support (<< 3.0-1~), icedove-3.0-gnome-support, icedove-dev
Section: mail
Description: mail/news client with RSS and integrated spam filter support
 Icedove is a mail/news/RSS client.

#Package: icedove-dev
#Architecture: any
#Section: mail
#Depends: icedove (= ${binary:Version}), ${misc:Depends}
#Description: Development files for Icedove
# This package contains the development headers, idl files and static libraries 
# needed to develop applications using Icedove.

Package: icedove-dbg
Architecture: any
Priority: extra
Section: debug
Depends: icedove (= ${binary:Version}), ${misc:Depends}
Description: Debug Symbols for Icedove
 This package contains the debug symbols for icedove. Install this package if
 you need to debug such a program or if you need a useful backtrace of a crash.

