[Desktop Entry]
Encoding=UTF-8
Name=Shredder Mail/News
Comment=Read/Write Mail/News with Mozilla Shredder
GenericName=Mail Client
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png
StartupWMClass=Thunderbird-bin
StartupNotify=true
